<div class="container-fluid p-3">
	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<%for(cat of categories){ %>
					<a href="#" class="list-group-item list-group-item-action">
						<%= cat.name %>
					  </a>  
				<% }%>
			</div>
		</div>
		
		<div class="col-md-9">
			<div class="card-columns">
				<%for(ele of elements){ %>
					<div class="card">
						<span class="btn-delete float-right p-2">x</span>
						<div class="card-body">
						  <h5 class="card-title">ele.title</h5>
						  <p class="card-text">ele.descr</p>
						</div>
					</div>
				<%}%>
			</div>
		</div>
	</div>	
</div>