<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
		<div class="row">
			<div class='col-md-6'>
				<h1 class="masthead-heading mb-0">Get things done!</h1>
				<h2 class="masthead-subheading mb-0"></h2>
			</div>
			<div class='col-md-5'>
				<div class="row">
					<form class="form col-md-6" action="/login" method="POST">
            <% if(typeof loginError != "undefined"){%>
            <div class="form-group">
              <%= loginError %>
            </div>
            <% } %>
						<div class="form-group">
							<input type="text" name="email" class="form-control" placeholder="Correo electrónico">
						</div>
						<div class="form-group">
							<input type="password" name="password" class="form-control" placeholder="Contraseña">
						</div>
						<div class="form-group">
							<input type="submit" class="form-control btn-primary btn" value="Iniciar">
						</div>
					</form>
					<form class="form col-md-6"  action="/logup" method="POST">
						<% if(typeof logupError != "undefined"){%>
              <div class="form-group">
                <%= logupError %>
              </div>
            <% } %>
            <div class="form-group">
							<input type="text" name="email" class="form-control" placeholder="Correo electrónico">
						</div>
						<div class="form-group">
							<input type="password" name="pass1" class="form-control" placeholder="Contraseña">
							<input type="password" name="pass2" class="form-control" placeholder="Confirmar contraseña">
						</div>
						<div class="form-group">
							<input type="submit" class="form-control btn-secondary btn" value="Registrarme">
						</div>
					</form>
				</div>
			</div>
		</div>

      <!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
    </div>
  </div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="images/01.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">For those who are busy...</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="images/02.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">We bring solutions!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="images/03.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Get things done!</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
        </div>
      </div>
    </div>
  </div>
</section>