<div class="container after-nav">
  <h1>Listas</h1>
  <div id="table" class="table-editable">
    <span class="table-1 table-add">Nueva lista</span>
    <table class="table">
      <tr>
        <th>Nombre</th>
        <th></th>
        <th></th>
      </tr>
      <% for (let i = 0; i < lists.length; i++) { %>
        <tr data-id="<%= lists[i].id %>">
          <td contenteditable="true"><%= lists[i].name %></td>
          <td>
            <span class="table-remove">Eliminar</span>
          </td>
          <td>
            <span class="table-share">Compartir</span>
          </td>
        </tr>
      <% } %>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="true">Untitled</td>
        <td>
          <span class="table-remove">Eliminar</span>
        </td>
        <td>
          <span class="table-share">Compartir</span>
        </td>
      </tr>
    </table>
  </div>

  <h1>Listas Compartidas</h1>
  <div id="shared-table" class="table-editable">
    <table class="table">
      <tr>
        <th>Nombre</th>
      </tr>
      <% for (let i = 0; i < sharedLists.length; i++) { %>
        <tr data-id="<%= sharedLists[i].id %>">
          <td contenteditable="true"><%= sharedLists[i].name %></td>
        </tr>
      <% } %>
      <!-- This is our clonable table line -->
      <tr class="hide">
        <td contenteditable="false"></td>
      </tr>
    </table>
  </div>
</div>

<script>
  var $TABLE = $('#table');
  var $SHARED_TABLE = $('#shared-table');

  $('.table-add').click(function () {
    var $clone = $TABLE.find('tr.hide').clone(true).removeClass('hide table-line');

    $.ajax({
      url: "/list",
      method: "POST",
      data: {name: "Untitled"},
    }).done((list) => {
      $clone.attr('data-id', list.id);
      $TABLE.find('table').append($clone);
    });
  });

  $('.table-remove').click(function () {
    let id = $(this).parents('tr').data('id');
    $.ajax({
      url: "/list/" + id,
      method: "DELETE"
    }).done(()=>{
        $(this).parents('tr').detach();
    });
  });

  $('.table-share').click(function () {
	  let id = $(this).parents('tr').data('id');

	  $.ajax({
		  url: "/list/" + id + "/share",
		  method: "POST",
		  data: { email: 'admin2@test.com' },
	  }).done(() => {
	    alert('Éxito!')
    });
  });

  var pusher = new Pusher('66c9d34371f52b6e208c', {
    cluster: 'us2'
  });

  var channel = pusher.subscribe('<%= channel %>');

  channel.bind('new-list', (data) => {
    var $clone = $SHARED_TABLE.find('tr.hide').clone(true).removeClass('hide table-line');

    $clone.attr('data-id', data.id);
    $clone.find('td').text(data.name);
    $SHARED_TABLE.find('table').append($clone);
  });
</script>